{% load i18n %}
{% load staticfiles %}
    <nav class="navbar navbar-expand-sm bg-light navbar-light">

        <div class="container">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="navbar-brand" href="#"><i class="fa fa-cut"></i> {% trans "BarberQ" %}</a>
            </li>
              {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mainapp:add_slot' %}"><i class="fa fa-plus"></i> {% trans "Add slots" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mainapp:manage_slots' %}"><i class="fa fa-tasks"></i> {% trans "Manage slots" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mainapp:view_reserves' %}"><i class="fa fa-eye"></i> {% trans "View reserves" %}</a>
            </li>
              {% endif %}
          </ul>
        <ul class="navbar-nav justify-content-end">
            {% if user.is_authenticated %}
            <li class="nav-item active">
            <div class="btn-group">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                   <i class="fa fa-user-circle"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'mainapp:barber_profile' %}"><i class="fa fa-address-card"></i> {% trans "Profile" %}</a>
                  <a class="dropdown-item" href="{% url 'mainapp:barber_logout' %}"><i class="fa fa-sign-out-alt"></i> {% trans "Log out" %}</a>
                </div>
              </div>
            </li>
            {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'mainapp:barber_login' %}"><i class="fa fa-user-circle"></i> {% trans "Login" %} </a>
            </li>
            {% endif %}
            <!--<li class="nav-item">-->
              <!--<a class="nav-link" href="#">Link</a>-->
            <!--</li>-->
        </ul>
        </div>
    </nav>
