{% extends 'base.html' %}
{% block content %}
    <div class="row" style="margin-top: 10%;">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <div class="row" style="border: 1px solid grey; padding: 10%">
            <form method="POST">
              <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Name:</label>
{#                  {{ form.username }}#}
                <input type="text" name="name" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
{#                  {{ form.password }}#}
                <input type="email" name="email" class="form-control" required="" id="id_email">
{#                <input type="password" name="password" class="form-control" id="password">#}
              </div>
              <div class="form-group">
                <label for="{{ form.address.id_for_label }}">Address:</label>
{#                  {{ form.password }}#}
                <input type="text" name="address" class="form-control" required="" id="id_address">
{#                <input type="password" name="password" class="form-control" id="password">#}
              </div>
{#              <div class="form-group form-check">#}
{#                <label class="form-check-label">#}
{#                  <input class="form-check-input" type="checkbox"> Remember me#}
{#                </label>#}
{#              </div>#}
              <ul>
              {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li class="text-danger">
                    {{ error }}
                </li>
                {% endfor %}
              {% endfor %}
              </ul>

              <button type="submit" class="btn btn-primary">Update</button>
              {% csrf_token %}
            </form>
            </div>
        </div>
        <div class="col-lg-4">

        </div>

    </div>

{% endblock %}