{% extends 'base.html' %}
{% block content %}
<div class="container">
<br/>
<br/>
<div class="row">
<div class="col-md-6">
  <h2><i class="fa fa-calendar-alt"></i> Upcoming</h2>
{#  <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>#}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
    {% for slot in upcoming_reserves %}
      <tr>
        <td>{{ slot.reservation.user.first_name }} {{ slot.reservation.user.last_name }}</td>
        <td>{{ slot.reservation.user.email}}</td>
        <td>{{ slot.start_time.date }} </td>
        <td>{{ slot.start_time.time }} </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="col-md-6">
  <h2><i class="fa fa-calendar-check"></i> Passed</h2>
{#  <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>#}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for slot in passed_reserves %}
      <tr>
        <td>{{ slot.reservation.user.first_name }} {{ slot.reservation.user.last_name }}</td>
        <td>{{ slot.reservation.user.email}}</td>
        <td>{{ slot.start_time.date }} </td>
        <td>{{ slot.start_time.time }} </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>

{% endblock %}